* {
    box-sizing: border-box;
    font-size: 13px;
}

body {
    margin: 0;
}

main {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

/* header */

header {
    background-color: #808080;
}

#logo a {
    display: inline-block;
    color: white;
    font-family: 'Lato', sans-serif cursive;
    text-decoration: none;
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    padding: 28px 15px;
    color: #FFF;
}

header nav a:hover {
    background-color: #3f3f3f;
}

@media (min-width: 768px) {
    header {
        height: 74px;
    }

    #logo {
        float: left;
    }

    #logo a {
        text-align: left;
        margin-left: 20px;
    }

    header nav {
        float: right;
        margin-right: 20px;
    }

    header nav li {
        display: inline-block;
    }

    section {
        text-align: center;
    }

    article {
        padding: 150px;
        display: inline-block;
        width: 40%;
        height: auto;
        margin: 0;
    }
}

.gris {
    background-color: #c0c0c0;
}

.noir {
    background-color: #3f3f3f;
    color: #FFFFFF;

}

@media (max-width: 768px) {
    article {
        display: inline-block;
        padding: 100px;
        height: auto;
    }
    article:nth-child(2n+1) {
        background-color: #3f3f3f;
        color: #FFFFFF;
    }
    article:nth-child(2n+2) {
        background-color:#c0c0c0 ;
        color: black;
    }
}

footer {
    background-color: #808080;
    text-align: center;
    color: #FFFFFF;
    padding: 50px;

}

/*form*/

input[type=text],[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] {
    width: 50%;
    background-color: #4563a0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4563a0;
}

.formulaire{
    padding: 50px;
    text-align: center;
}

h1 {
    text-align: center;
}
.alert-danger {
    background-color: red;
    text-align: center;
    font-size: 2.5em;
}

.alert-success {
    background-color: green;
    text-align: center;
    font-size: 2.5em;
}
